<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atmingshi.mapper.DishFlavorMapper">

<!--    public int deleteDishflavorOfdishId(Long dishId);-->
    <delete id="deleteDishflavorOfdishId">
        delete from dish_flavor where dish_id = #{dishId}
    </delete>
</mapper>